@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-border-light {
  border-image: linear-gradient(to right, #46037e 0%, RoyalBlue 50%, #46037e 100%);
  border-image-slice: 1;
}

.gradient-border-dark {
  border-image: linear-gradient(to right, #46037e 0%, RoyalBlue 50%, #46037e 100%);
  border-image-slice: 1;
}

.text-shadow-text {
  text-shadow: rgb(0 0 0 / 46%) 4px 4px 6px;
}

body {
  @apply bg-white font-sans
}

body.dark {
  @apply bg-dk-blue-darkest
}

.dark .logo-dark,
.light .logo-light {
  display: none;
  visibility: hidden;
}


.post-link:hover .post-title {
  @apply text-lt-purple dark:text-dk-blue-light underline decoration-2 underline-offset-4
}

h2 {
  @apply text-2xl	lg:text-3xl
}

h3 {
  @apply text-xl	lg:text-2xl
}

h3 {
  @apply text-lg	lg:text-xl
}
