@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-border-light {
  border-image: linear-gradient(to right, #46037e 0%, RoyalBlue 50%, #46037e 100%);
  border-image-slice: 1;
}

.gradient-border-dark {
  border-image: linear-gradient(to right, #46037e 0%, RoyalBlue 50%, #46037e 100%);
  border-image-slice: 1;
}

.text-shadow-text {
  text-shadow: rgb(0 0 0 / 46%) 4px 4px 6px;
}

body {
  @apply bg-white font-sans
}

body.dark {
  @apply bg-dk-blue-darkest
}

.dark .logo-dark,
.light .logo-light {
  display: none;
  visibility: hidden;
}

p {
  @apply my-6 leading-relaxed;
}

.post-link:hover .post-title {
  @apply text-lt-purple dark:text-dk-blue-light underline decoration-2 underline-offset-4
}

h2 {
  @apply text-2xl	lg:text-3xl font-bold mt-8
}

h3 {
  @apply text-xl	lg:text-2xl font-bold mt-8
}

h4 {
  @apply text-lg	lg:text-xl font-bold mt-8
}

.custom-grid {
  grid-template-columns: 1fr 280px;
}

blockquote {
  @apply italic my-8 pl-4 py-1 border-solid border-l-4 border-l-lt-purple dark:border-l-dk-blue-light
}

.box p:first-of-type,
blockquote p:first-of-type {
  @apply mt-0
}

.box p:last-of-type {
  @apply mb-0
}

blockquote cite {
  @apply text-base not-italic
}

code {
  @apply text-base border-solid border py-0.5 px-1 mx-0.5 inline-block bg-lt-code-bg border-lt-code-border dark:bg-dk-code-bg dark:border-dk-code-border
}

.box a,
.bodytext a,
.lead-content a {
  @apply underline underline-offset-4 decoration-2 text-lt-blue-dark dark:text-dk-blue-light;
  @apply hover:text-lt-purple hover:decoration-4 dark:hover:text-wheat;
  @apply focus:text-lt-purple dark:focus:text-wheat focus:outline-2 focus:outline-offset-2 focus:no-underline focus:outline-lt-purple dark:focus:outline-wheat
}

.box ul {
  @apply list-disc ml-5 leading-8
}

.non-active-link {
  @apply text-black dark:text-white
}

a[aria-current=true],
.active-link {
  @apply underline decoration-2 underline-offset-4 text-lt-purple dark:text-dk-blue-light
}

blockquote ol {
  @apply list-decimal
}

blockquote ul {
  @apply list-disc
}

blockquote ol,
blockquote ul {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  margin-inline-start: 1.5em;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

blockquote p:last-of-type {
  @apply mb-0
}
